.ElevatorMenu .Dropdown-toggle {
  width: 100% !important;
}

.ElevatorMenu .Dropdown-menu {
  min-width: 260px;
  padding: 10px;
}

.ElevatorMenu .Dropdown-menu div {
  display: flex;
  margin: 0 auto;
}

.ElevatorMenu .Dropdown-menu div .Button {
  margin-left: 5px;
}

.ElevatorLevel {
  float: right;
  color: rgba(0, 0, 0, 0.7);
}