.ElevatorMenu .Dropdown-toggle {
    width: 100% !important;
}

.ElevatorMenu .Dropdown-menu {
    min-width: 260px;
}

.ElevatorMenuItem-label {
    padding-left: 25px;
    display: block;
    white-space: normal;

    & strong {
        display: block;
    }
}

.ElevatorMenuItem-description {
    display: block;
    color: @muted-color;
    font-size: 12px;
    margin-top: 3px;
}